name: Terraform Infrastructure Deployment

on:
  push:
    branches:
    - main
    tags:
    - "v*"
  pull_request:
    branches:
    - main
  workflow_dispatch:


jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
    strategy:
      matrix:
        env: [ dev ]
    steps:
    - uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

    - name: Init Terraform
      run: terraform init -backend-config=backends/${{ matrix.env }}.config

    - name: Terraform Plan
      run: terraform plan -var-file=vars/${{ matrix.env }}.tfvars
      env:
        TF_VAR_jwt_secret: ${{ secrets.JWT_SECRET }}
        TF_VAR_ssl_cert: ${{ secret.SSL_CERT }}
        TF_VAR_ssl_key: ${{ secret.SSL_KEY }}
        TF_VAR_db_pwd: ${{ secret.DB_PWD }}
        TF_VAR_db_user: ${{ secret.DB_USER }}

    - name: Terraform Apply (on tag only)
      if: startsWith(github.ref, 'refs/tags/')
      run: terraform apply -auto-approve -var-file=vars/${{ matrix.env }}.tfvars
      env:
        TF_VAR_jwt_secret: ${{ secrets.JWT_SECRET }}
        TF_VAR_ssl_cert: ${{ secret.SSL_CERT }}
        TF_VAR_ssl_key: ${{ secret.SSL_KEY }}
        TF_VAR_db_pwd: ${{ secret.DB_PWD }}
        TF_VAR_db_user: ${{ secret.DB_USER }}
