name: Terraform Infrastructure Deployment

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
    strategy:
      matrix:
        env: [dev, prd]
    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Init Terraform
        run: terraform init -backend-config=backends/${{ matrix.env }}.config

      - name: Terraform Plan
        run: terraform plan -var-file=vars/${{ matrix.env }}.tfvars

      - name: Terraform Apply (on tag only)
        if: startsWith(github.ref, 'refs/tags/')
        run: terraform apply -auto-approve -var-file=vars/${{ matrix.env }}.tfvars
