name: Terraform Infrastructure Deployment

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
    strategy:
      matrix:
        env: [dev]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: "projects/${{ secrets.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-action-pool/providers/github-oidc"
          service_account: "github-action-sa@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com"

      - name: Init Terraform
        run: terraform init -backend-config=backends/${{ matrix.env }}.config

      - name: Terraform Fmt & Validate
        run: |
          terraform fmt -check -recursive
          terraform validate

      - name: Terraform Plan
        run: terraform plan -var-file=vars/${{ matrix.env }}.tfvars

      - name: Terraform Apply (on tag only)
        if: startsWith(github.ref, 'refs/tags/')
        run: terraform apply -auto-approve -var-file=vars/${{ matrix.env }}.tfvars
